* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

header {
  width: 800px;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

#logo {
  width: 30%;
}

a {
  color: rgb(108, 108, 108);
  transition: color ease-in 0.2s;
}

a:hover {
  color: #000;
}

main {
  width: 800px;
  margin: 2rem auto;
}

#container a {
  color: white;
  text-decoration: none;
}

#container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

#container div {
  background-color: #ff5959;
  color: #fff;
  border-radius: 2px;
  padding: 2rem 1rem;
  transition: background-color ease-in 0.2s, color ease-in 0.2s;
}

#container div:hover {
  background-color: #ede6e6;
  color: #000;
}

.cataheader {
  margin-bottom: 2rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.box {
  position: relative;
  /* border-radius: 10px; */
  display: grid;
  gap: 0.5rem;
  /* box-shadow: 0 5px 10px #4b4b4b33; */
  overflow: hidden;
}

.boxinfo {
  padding: 0.5rem;
}

.boxinfo h2 {
  margin-bottom: 1rem;
}

.flexcol {
  display: flex;
  flex-direction: column;
}

.flexrow {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  gap: 5px;
}

h2 {
  font-size: 90%;
  text-decoration: underline;
}
p {
  font-size: 80%;
}

.box a {
  font-size: 80%;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
}

.innerlink {
  margin: 0 0.6rem;
}

.linkarrow {
  font-size: 112%;
  color: #949494;
  pointer-events: none;
}

#productcontainer {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 3fr 3fr 2fr;
}

#productcontainer h1 {
  font-size: 196%;
}

#productcontainer ul {
  font-size: 120%;
  margin-top: 1.5rem;
  text-decoration: none;
}

#productcontainer h2 {
  text-decoration: none;
}

#productcontainer .innerlink {
  margin-bottom: 0.5rem;
}

#productcontainer .name {
  margin-top: 3rem;
}

#infobox {
  padding: 1rem;
}

#basket {
  background-color: #e9e9e9;
  color: white;
  padding: 2rem 1rem;
}

#basket h1 {
  font-size: 160%;
}

.dropdown-container {
  border-radius: 8px;
}

label {
  font-size: 14px;
  font-weight: bold;
}

select {
  width: 35%;
  padding: 10px;
  margin-left: 0.5rem;
  font-size: 16px;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
}

.info {
  margin-top: auto;
}

.button {
  margin-top: 0.5rem;
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background-color: #fff; /* Blue color */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.button a {
  color: #000;
  text-decoration: none;
}

.button:hover {
  background-color: #e3e3e3; /* Darker blue */
  transform: scale(1.02);
}

.button:active {
  background-color: #fff; /* Even darker blue */
  transform: scale(0.98);
}

nav a {
  font-size: 80%;
}

.udsolgt {
  filter: grayscale(1);
}

.udsolgtskrift {
  position: absolute;
  top: 10%;
  padding: 0.7rem;
  background-color: #000;
  color: white;
  width: 100%;
  font-size: 120%;
}

.price {
  padding: 0.5rem;
}

.tilbud {
  margin: 0 2rem 0 auto;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #ff5959;
}

.disable {
  display: none;
}

.red {
  color: red;
}
